
<div class="list-group">
    <a href="/admin/catalog/list" class="list-group-item {{#compare item "catalog"}}active{{/compare}}">目录管理</a>
    <a href="/admin/blog/list" class="list-group-item {{#compare item "blog"}}active{{/compare}}">博客管理</a>
    <a href="/admin/file/list" class="list-group-item {{#compare item "file"}}active{{/compare}}">文件管理</a>
</div>