/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: "microsoft yahei", serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
    max-width: 60rem;
}

.nav-header {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

nav{
    /*padding: 10px;*/
}
/* Nav links */
.nav-link {
    position: relative;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #fff;
}
.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}
/*
 * Footer
 */

footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
footer p:last-child {
    margin-bottom: 0;
}
