<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/lib/jquery-3.2.1.min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
